/*
 * Globals
 */

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #121212;
  border: none;
  text-shadow: none; /* Prevent inheritance from `body` */
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  background-color: #A93226;
  border: none;
  text-shadow: none; /* Prevent inheritance from `body` */
}

.btn-margin {
  margin-top: 1em;
  margin-bottom: 1em;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #A93226;
  border: none;
  text-shadow: none; /* Prevent inheritance from `body` */
}

a {
  text-decoration: none;
  border: 1px solid;
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-size: initial;
  border-radius: 0.3em;
  color: red;
}

a:hover {
  color: white;
  background-color: #A93226;
}

.nav-link {
  border: none;
  padding-left: initial;
  padding-right: initial;
  border-radius: none;
}

.btn-donate {
  font-size: 1.5rem;
  width: 200px;
}

.cover-container {
  max-width: 42em;
}

.project-text {
  font-size: 0.8rem;
}

.footer {
  text-align: center;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.hero-content {
  height: 100vh;
  background: rgb(48 48 55);
}

.hero-small-text {
  text-align: justify;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

.footer-text {
  font-size: 1.2rem;
}

#back-to-top {
  position: fixed;
  bottom: -4px;
  right: 30px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
