---
import {Markdown} from "astro/components";
---

<section id="features">
<div class="container px-4 py-5" id="hanging-icons">
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-4">
    <Markdown >
      <slot />
    </Markdown>
  </div>
</div>
</section>