---
import {Markdown} from "astro/components";
const {bulletpoint, delay = 0, icon} = Astro.props;
---

<div class="col d-flex align-items-start" data-aos="fade-up"
  data-aos-duration="2000" data-aos-delay={delay}>
    {icon ?
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <img src={icon} />
        </div>
        : null
    }
    <div style="flex-direction: column;">
    <Markdown >
        <slot />
    </Markdown>
    </div>
</div>

<style>
  .icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: .75rem;
  }
</style>