<header class="mb-auto" id="home">
    <div>
    <h3 class="float-md-start mb-0"><b style="color: #A93226;">RChain</b> Developers</h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#about">About</a>
        <a class="nav-link" href="#projects">Projects</a>
    </nav>
    </div>
</header>